
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>王昱智的个人博客</title>

    <link rel="stylesheet" href="https://wangxiaozhi123.github.io/assets/css/style.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="https://wangxiaozhi123.github.io/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>王昱智的个人博客</h1>
        <p></p>

        

        
          <p class="view">GitHub:<a href="https://github.com/wangxiaozhi123">wangxiaozhi123</a></p>
          
        <p class="view">QQ:429373960</p>
        <p class="view">Mail:wangxiaozhi0@gmail.com</p>

        
      </header>
      <section>

　　{{ content }}

 </section>
      <footer>
        
        <p><small>Powered by GitHub Pages.</small></p>
      </footer>
    </div>
    <script src="https://wangxiaozhi123.github.io/assets/js/scale.fix.js"></script>


  
  </body>
</html>
